.about-me{
  font-family: sans-serif;
  font-style: italic;
  margin: 12px;
  border: 2px solid grey;
  padding: 4px;
  background-color: lightpink
}
.section-headers{
  font-style: bold;
  color: black;
}
.highlight{
  color: Red;
}
.countries{
  color: green;
  font-style: bold;
}
.blog-post{
  color: blue;
  font-family: sans-serif;
  margin: 12 px;
  border: 2px solid grey;
  padding: 4px;
  background-color: lightpink;
}
