.about-me{
  font-family: sans-serif;
  font-style: italic;
}
.section-headers{
  font-style: bold;
  color: black;
}
.highlight{
  color: Red;
}
.countries{
  color: green;
  font-style: bold;
}
.blog-post{
  color: blue;
  font-family: sans-serif;
}
